= form_for @list do |f|
  -if @list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg
  = f.label :name, "Name:"
  = f.text_field :name
  %ul.list
    = f.fields_for :list_items do |item_fields|
      %li.item
        = item_fields.text_field :description
  .actions
    = f.submit 'Save'
