%h1 Listing list_items

%table
  %tr
    %th Description
    %th Finished
    %th
    %th
    %th

  - @list_items.each do |list_item|
    %tr
      %td= list_item.description
      %td= list_item.finished
      %td= link_to 'Show', list_item
      %td= link_to 'Edit', edit_list_item_path(list_item)
      %td= link_to 'Destroy', list_item, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New List item', new_list_item_path
